body {
    background-color: rgb(0, 208, 255);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top : 55px;
    padding-top : 55px;
}

.todoAppWrapper {
    max-width : 530px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

a {
    color: gray;
    text-decoration : none;
}

h1 {
    margin : 0;
}

.header {
    text-align: center;
    padding: 20px 0;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,114,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px 10px 0 0;
    color: white;
}

.taskWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.336);
}

.taskTitle {
    display: flex;
    align-items: center;
}

.taskCompletedIcon {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    border-radius: 50%;
    margin-right: 10px;
}

.taskInCompletedIcon {
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
}

.loginAndLogout {
    color: lightcoral;
}

.editButtun {
    color: lightgreen;
}

.deleteButtun {
    color: red;
}

/* タスクの検索と追加のフォーム*/
.searchWrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.searchInput {
    height: 24px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 4px;
    width: 160px !important;
}

.searchButtun {
    border: 1px solid rgb(1, 6, 3);
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.588);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.4s;
}

.searchButtun:hover {
    background-color: gray;
    color: white;
}

.addButtun {
    font-size: 32px;
    color: black;
}

label {
    display: block;
}

input[type = "text"],
textarea {
    width: 100%;
}

.accountWrapper {
    padding: 10px;
}

.accountWrapper p {
    margin: 0;
    padding: 0;
}