{% extends 'todoapp/base.html' %}
{% block content %}

<div class = "header">
    <h1>{{request.user}}のタスク</h1>
</div>

<div class="searchWrapper">
    <form method = "GET">
        <input type = "text" name = "search" value = "{{search}}" class = "searchInput"/>
        <input type = "submit" value = "検索" class = "searchButtun"/>
    </form>
    <a href = "{% url 'create-task' %}" class = "addButtun">＋</a>
</div>

<div class = "tasksWrapper">
    {% for task in tasks %}
    <div class="taskWrapper">
        <!-- タスクが完了しているなら -->
        {% if task.completed %}
        <div class="taskTitle">
            <div class = "taskCompletedIcon"></div>
            <s><a href="{% url 'task' task.id %}">{{task}}</a></s>
        </div>
        <div>
        <a href = "{% url 'edit-task' task.id %}" class = "editButtun">&#x270f;</a>
        <a href="{% url 'delete-task' task.id %}" class = "deleteButtun">×</a>
        </div>  
        <!-- タスクが未完了なら -->
        {% else %}
        <div class="taskTitle">
            <div class = "taskInCompletedIcon"></div>
            <a href="{% url 'task' task.id %}">{{task}}</a>
        </div>
        <div>
        <a href = "{% url 'edit-task' task.id %}" class = "editButtun">&#x270f;</a>
        <a href="{% url 'delete-task' task.id %}" class = "deleteButtun">×</a>
        </div>
        {% endif %}
    </div>

    {% empty %}
        <h3 style = "padding-left: 20px;">No tasks</h3>

    {% endfor %}
</div>

<div class = "loginAndLogout">
{% if request.user.is_authenticated %}
<!-- <p>{{request.user}}</p> -->
<form action = "{% url 'logout' %}" method = "POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" value = "ログアウト">
</form>
{% else %}
<form action = "{% url 'login' %}" method = "GET">
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" value = "ログイン">
</form>
{% endif %}
</div>
{% endblock content %}